@model MisProvincias.Models.Provincia
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
    ViewData["Title"] = "Eliminar Provincia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tokens = Antiforgery.GetAndStoreTokens(Context);
}

<div class="row justify-content-center mt-5">
    <div class="col-sm-6">
        <div class="card shadow-sm border-0">
            <div class="card-body text-center">
                <h4 class="mb-4">
                    ¿Seguro que querés dar de baja la provincia
                    <span class="text-danger fw-semibold">@Model.Nombre</span>?
                </h4>

                <button id="btnConfirmar" class="btn btn-outline-danger me-2 px-4">
                    Sí, dar de baja
                </button>
                <a asp-action="Index" class="btn btn-outline-secondary px-4">
                    Volver
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("btnConfirmar").addEventListener("click", async () => {
        const response = await fetch(`/Home/EliminarProvincia/@Model.IdProvincia`, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
                "RequestVerificationToken": "@tokens.RequestToken"
            }
        });

        if (response.ok) {
            window.location.href = "/Home/Index"; // solo redirige
        }
    });
</script>